<!DOCTYPE html>
<html>
<head>
	<title>Zomato</title>
	 <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body style="background-color: #CB202D; font-size: 20px;">
	<header>
		<div class="container">
		<div id="brandname">
			Small initiative to analyze about Zomato .
		</div>
		<h2>Analyze the Zomato REVIEWS here..!</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Review Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Analyze">
		
	</form>
		
	</div>

	
	

</body>
</html>
